@font-face {
  font-family: lovely-coffee;
  src: url(./fonts/LovelyCoffee-jEVeO.ttf);
}

.card-cart {
  min-height: 10rem;
}

.shopping-cart-title {
  font-family: lovely-coffee;
  background: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: none;
  text-align: center;
}
