@font-face {
  font-family: tesla;
  src: url(./fonts/Suissnord.otf) format("opentype");
}

@font-face {
  font-family: corbel;
  src: url(./fonts/CORBEL.TTF);
}
@font-face {
  font-family: lovely-coffee;
  src: url(./fonts/LovelyCoffee-jEVeO.ttf);
}

.carousel {
  height: 25rem;
}

.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;

  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-caption {
  top: auto;
  bottom: 0;
}

.carousel-text-shadow {
  font-family: lovely-coffee;
  font-size: 2.5rem;
}

.slide-title {
  font-family: corbel;
  text-shadow: 0px 0px 2px #000000;
  font-size: 2rem;
}

.slide-btn {
  font-family: corbel;
  font-size: 1rem;
  overflow: hidden;
}

.slide-in {
  position: relative;
  left: -200px;
  width: 100px;
  height: 100px;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  overflow: hidden;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
