@font-face {
  font-family: tesla;
  src: url(./fonts/Suissnord.otf) format("opentype");
}

@font-face {
  font-family: corbel;
  src: url(./fonts/CORBEL.TTF);
}

.carousel {
  height: 25rem;
}

.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;

  display: block;
  position: absolute;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-caption {
  top: auto;
  bottom: 0;
}

.carousel-text-shadow {
  font-family: corbel;
}

.slide-title {
  font-family: corbel;
  text-shadow: 0px 0px 2px #000000;
}

.img {
}
