@font-face {
  font-family: lovely-coffee;
  src: url(./fonts/LovelyCoffee-jEVeO.ttf);
}

.img-carousel {
  width: 60%;

  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

.image-item {
  padding: 20px 20px 20px 20px;
  background: rgb(255, 255, 255);
  text-align: center;
  outline: none;
  box-shadow: none;
}

.carousel-title {
  font-family: lovely-coffee;
  background: rgba(0, 0, 0, 0);
  outline: none;
  box-shadow: none;
  text-align: center;
}
