:root {
  --main-red-color: brown;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
#__next {
  padding: 20px;
}
.image-item {
  padding: 20px 0 20px 20px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  border-radius: 5px;
}

.trash {
  background-color: var(--main-red-color);
  border-radius: 5px;
  width: 40px;
}

.edit {
  border-radius: 5px;
  width: 40px;
}
